# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js
/.next/
/out/
.next
out
next-env.d.ts

# Production
/build
dist
dist-ssr

# Environment variables
.env
.env*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
/coverage
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
